@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--main-bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* --------------- CARD --------------- */

.card {
    background-color: var(--card-bg);
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* --------------- INFOS --------------- */

.info {
    width: 300px;
}

.image-equilibrium {
    position: relative;
    display: flex;
}

.image-equilibrium .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-equilibrium::before {
    content: '';
    background-color: cyan;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.image-equilibrium::after{
    content: '';
    background: url(../images/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.image-equilibrium:hover::before{
    opacity: 0.4;
}

.image-equilibrium:hover::after {
    opacity: 1;
}

/* --------------- INFO TEXT --------------- */

.info-text {
    margin-top: 20px;
}

.info-text h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.info-text h1:hover {
    color: var(--primary-medium);
    cursor: pointer;
}

.info-text p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-soft);
}

.info-nft {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nft-value, .nft-countdown {
    display: flex;
}

.nft-value p, .nft-countdown p {
    margin-left: 10px;
}

.nft-value p {
    color: var(--primary-medium);
    font-weight: 400;
}

.nft-countdown p {
    color: var(--primary-soft);
    font-weight: 300;
}

/* --------------- INFO CRETOR --------------- */

.info-creator {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--line);
    padding-top: 15px;
}

.info-creator img {
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.info-creator p {  
    color: var(--primary-soft);
    font-weight: 300;
}

.info-creator span {
    color: var(--white);
}

.info-creator span:hover {
    color: var(--primary-medium);
    cursor: pointer;
}